/* mengatur warna backgroud dan padding pada tag body bagian atas agar form tidak menempel diatas */
.userbody{
    background: #383a3d;
    padding-top: 10vh;
}

/* mengatur warna backgroud form */
.userform{
    background: #fff;
}

/* mengatur border dan padding class form-container */
.form-container{
    border-radius: 10px;
    padding: 30px;
}
.konten{
    float: right;    
    width: 90%;
}
.addkat{
    float: right;    

}
.adder{
    float: right;
    width: auto;     
}
.userfit{
    display: block;
    max-width:100px;
    max-height:100pxpx;
    width: auto;    
    height: auto;
}
.override{
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
}
.dboard-x1{
    background-color: lightblue;
}
.dboard-y1{
    background-color: #3E6373;
}
.dboard-z1{
    background-color: #F4F6F9;
}
.dboard-x3{
    background-color: background-color;
}
.dboard-y3{
    background-color: background-color;
}
.dboard-z3{
    background-color: background-color;
}